name: Axe CLI Accessibility Tests
on: [push, pull_request]

jobs:
  axe:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Install Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable
          google-chrome --version

      - name: Install dependencies
        working-directory: ./frontend
        run: npm ci

      - name: Build application
        working-directory: ./frontend
        env:
          VITE_API_URL: http://default-api-url.com      
          VITE_ENVIRONMENT: development                 
          VITE_GRAPHQL_URL: http://default-graphql-url.com  
          VITE_IDX_URL: http://default-idx-url.com       
        run: npm run build

      - name: Start application
        working-directory: ./frontend
        env:
          VITE_API_URL: http://default-api-url.com       
          VITE_ENVIRONMENT: development                  
          VITE_GRAPHQL_URL: http://default-graphql-url.com  
          VITE_IDX_URL: http://default-idx-url.com      
        run: npm run preview & npx wait-on http://localhost:4173 --timeout 120000

      - name: Run accessibility tests
        run: |
          npx axe http://localhost:4173/ --exit --browser chrome --timeout 120000 --verbose --chrome-options="--headless --user-data-dir=/tmp/chrome-profile-1 --no-sandbox --disable-dev-shm-usage"
          npx axe http://localhost:4173/projects --exit --browser chrome --timeout 120000 --verbose --chrome-options="--headless --user-data-dir=/tmp/chrome-profile-2 --no-sandbox --disable-dev-shm-usage"
          npx axe http://localhost:4173/projects/contribute --exit --browser chrome --timeout 120000 --verbose --chrome-options="--headless --user-data-dir=/tmp/chrome-profile-3 --no-sandbox --disable-dev-shm-usage"
          npx axe http://localhost:4173/community/users --exit --browser chrome --timeout 120000 --verbose --chrome-options="--headless --user-data-dir=/tmp/chrome-profile-4 --no-sandbox --disable-dev-shm-usage"
          npx axe http://localhost:4173/chapters --exit --browser chrome --timeout 120000 --verbose --chrome-options="--headless --user-data-dir=/tmp/chrome-profile-5 --no-sandbox --disable-dev-shm-usage"
